body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #212121;
  height: 100px;
}
#timerContainer {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  margin-top: 10%;
  max-width: 500px;
  height: 100px;
  border-radius: 50px;
  background-color: #68e784b9;
}
#contentCounter {
  text-align: center;
}
.counter {
  font-size: 50px;
}
.btn {
  --color: #68e784b9;
  --color2: #212121;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 10px;
  border: 1.5px solid var(--color);
  transition: 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: var(--color);
}

.btn::before {
  content: "";
  display: block;
  height: 110%;
  width: 310%;
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: -1;
  transition: 0.7s;
  background: -moz-linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
  background: -webkit-linear-gradient(
    45deg,
    var(--color2) 33%,
    var(--color) 66%
  );
  background: linear-gradient(45deg, var(--color2) 33%, var(--color) 66%);
}

.btn:hover::before {
  left: -200%;
}

.btn:hover {
  color: var(--color2);
}

.btn:active {
  transform: scale(0.98);
  filter: brightness(0.8);
}

#todoContainer {
  margin: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 600px;
  min-height: 100px;
  border-radius: 10px;
  background-color: #68e784b9;
}
.todo__title h1 {
  text-align: center;
}
.todo__new-item {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  max-width: 510px;
  min-height: 30px;
  border-radius: 10px;
  color: #ccc;
  background-color: #212121;
}
.content__todo-item {
  display: flex;
  align-items: center;
  width: 500px;
  justify-content: space-between;
}
.item_img_arrow-right,
.item_img_cross {
  height: 24px;
  width: 24px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background: #32b84f;
  border-radius: 30px;
}
